[submodule "core"]
	path = schemas/core_3.1.5
	url = https://github.com/rsmp-nordic/rsmp_schema.git
	branch = core_3.1.5
	shallow = true
[submodule "tlc"]
	path = schemas/tlc_1.0.15
	url = https://github.com/rsmp-nordic/rsmp_schema.git
	branch = tlc_1.0.15
	shallow = true
